{% extends "AcmeTestBundle::base.html.twig" %}

{#% form_theme form 'ElaoThemeTwitterBootstrap3Bundle:Form:form_horizontal_layout.html.twig' %#}

{% block body -%}
<div class="container">
    {{ form_start(form) }}

        {% for child in form%}
            {{ form_row(child, {horizontal: true}) }}
        {% endfor %}

    {{ form_end(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('test') }}">
                Back to the list
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block inline_javascript %}
    {{ parent() }}
    <script>
        $('[data-collection]').each(function (key, element) {
            new Collection(element);
            $(element).on("collection:added", function (e, item) { item.find('label').innerHTML += " 1"; });
            $(element).on("collection:deleted", function (e, item) { console.log(e, item); });
        });
        $('[data-other-target]').each(function (key, element) {
            new Other(element);
            $(element).on("other:displayed", function (e, trigger, target, value) { console.log(e, trigger, target, value); });
            $(element).on("other:hidden", function (e, trigger, target, value) { console.log(e, trigger, target, value); });
        });
    </script>
{% endblock %}
