{% extends "AcmeTestBundle::base.html.twig" %}

{% form_theme form 'ElaoThemeTwitterBootstrap3Bundle:Form:form_horizontal_layout.html.twig' %}

{% block body -%}
<div class="container">
    <h1>Test creation</h1>

    <p title="Test de tooltip 1" {{ tooltip({animation: false}) }}>
        Test de tooltip 1
    </p>

    <p title="Test de tooltip 2" {{ tooltip({placement: 'bottom'}) }}>
        Test de tooltip 2
    </p>

    <p title="Test de popover" {{ popover({content: include('AcmeTestBundle:Test:test.html.twig'), trigger: 'hover', placement: 'bottom', html: true}) }}>
        Test de popover
    </p>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('test') }}">
                Back to the list
            </a>
        </li>
    </ul>
</div>
{% endblock %}
